
.dotFlashing {
    position: relative;
    width: 4px;
    height: 4px;
    border-radius: 10px;
    background-color: #000000;
    color: #000000;
    animation: dotFlashing 0.8s infinite linear alternate;
    animation-delay: 0.3s;
  }
  .dotFlashing::before, .dotFlashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dotFlashing::before {
    left: -7px;
    width: 4px;
    height: 4px;
    border-radius: 10px;
    background-color: #000000;
    color: #000000;
    animation: dotFlashing 0.8s infinite alternate;
    animation-delay: 0s;
  }
  .dotFlashing::after {
    left: 7px;
    width: 4px;
    height: 4px;
    border-radius: 10px;
    background-color: #000000;
    color: #000000;
    animation: dotFlashing 0.8s infinite alternate;
    animation-delay: 0.3s;
  }
  
  @keyframes dotFlashing {
    0% {
      background-color: #000000;
    }
    50%, 100% {
      background-color: rgba(152, 128, 255, 0.2);
    }
  }