# syntax=docker/dockerfile:1.4

{% block SETUP_BASE_IMAGE%}
{% include './setup_base_image.j2' %}
{% endblock %}

{% block SETUP_USER %}
{% include './setup_user.j2' %}
{% endblock %}

{% block SETUP_TUNGSTEN%}
{% include './setup_tungsten.j2' %}
{% endblock %}
