{% import 'macros/cache.j2' as cache %}

{% if tungsten_env_vars %}
ENV{% for key, val in tungsten_env_vars.items() %} {{ key }}={{ val }}{% endfor %}
{% endif %}

ENTRYPOINT ["/usr/bin/tini","--","python"{% for e in python_entrypoint.split() %},"{{ e }}"{% endfor %}]

LABEL device="{{ device }}"
{% if gpu_mem_gb %}
LABEL gpu_mem_gb="{{ gpu_mem_gb }}"
{% endif %}